<?xml version="1.0"?>
<config>
    <modules>
        <Fodcamp_Cutesave>
            <version>0.9.0.0</version>
        </Fodcamp_Cutesave>
    </modules>

    <global>

        <models>
            <fodcamp_cutesave>
                <class>Fodcamp_Cutesave_Model</class>
            </fodcamp_cutesave>
        </models>

        <helpers>
            <fodcamp_cutesave>
                <class>Fodcamp_Cutesave_Helper</class>
            </fodcamp_cutesave>
        </helpers>

    </global>

    <fodcamp_cutesave>
        <basic_attributes>
            <sku/>
            <name/>
            <price/>
            <status>0</status>
            <description/>
            <short_description/>
            <size/>
            <color/>
            <is_in_stock>1</is_in_stock>
            <categories></categories>
        </basic_attributes>
    </fodcamp_cutesave>

    
</config>
