<?xml version="1.0"?>
<config>
    <modules>
        <Fod_Cutesave>
            <version>0.9.0.0</version>
        </Fod_Cutesave>
    </modules>

    <global>

        <models>
            <fod_cutesave>
                <class>Fod_Cutesave_Model</class>
            </fod_cutesave>
        </models>

        <helpers>
            <fod_cutesave>
                <class>Fod_Cutesave_Helper</class>
            </fod_cutesave>
        </helpers>

    </global>

    <fod_cutesave>
        <basic_attributes>
            <sku/>
            <name/>
            <price/>
            <status>0</status>
            <description/>
            <short_description/>
            <size/>
            <color/>
            <is_in_stock>1</is_in_stock>
            <categories></categories>
        </basic_attributes>
    </fod_cutesave>

    
</config>
